@CHARSET "ISO-8859-1";
/*
 menu coding 
*/
#menu {
width: auto;
float: left;
}
 
#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 6.2em;
float: left;

}

/* Menu Cadastro */
#menu2a ul {
list-style: none;
margin: 0;
padding: 0;
width: 14em;
float: left;

}

/* Menu Cobranca */
#menu2b ul {
list-style: none;
margin: 0;
padding: 0;
width: 14em;
float: left;

}

/* Menu Relatorio */
#menu2c ul {
list-style: none;
margin: 0;
padding: 0;
width: 15em;
float: left;

}

/* Sub-Menu Caixa */
#menu3c ul {
list-style: none;
margin: 0;
padding: 0;
width: 110px;
float: left;
}


/* Menu Saude */
#menu2d ul {
list-style: none;
margin: 0;
padding: 0;
width: 18em;
float: left;

}

/* Menu Caixa */
#menu2e ul {
list-style: none;
margin: 0;
padding: 0;
width: 13em;
float: left;

}

/* Sub-Menu Caixa */
#menu3e ul {
list-style: none;
margin: 0;
padding: 0;
width: 140px;
float: left;
}

/* Menu Caixa */
#menu2f ul {
list-style: none;
margin: 0;
padding: 0;
width: 13em;
float: left;

}


/* Menu Web Site */
#menu2g ul {
list-style: none;
margin: 0;
padding: 0;
width: 12em;
float: left;

}

/* Sub-Menu Web Site*/
#menu3g ul{
list-style: none;
margin-left: -313px;
padding: 0;
width: 140px;
float: left;
}



/* Menu Operador */
#menu2h ul {
list-style: none;
margin-left: -113px;
padding: 0;
width: 13em;
float: left;

}

/* Sub-Menu Operador*/
#menu3h ul{
list-style: none;
margin-left: -277px;
padding: 0;
width: 90px;
float: left;
}


/* Menu Help */
#menu2hx ul {
list-style: none;
margin-left: -113px;
padding: 0;
width: 13em;
float: left;

}

/* Sub-Menu Help*/
#menu3hx ul{
list-style: none;
margin-left: -277px;
padding: 0;
width: 90px;
float: left;
}

/* Sub-Menu */
#menu3 ul {
list-style: none;
margin: 0;
padding: 0;
width: 90px;
float: left;
}

 
#menu a {
font: bold 11px/19px arial, helvetica, sans-serif;
display: block;
margin: 0px;
padding: 1px 3px;
border-color: #ccc #888 #555 #bbb;
border-style: solid;
border-width: 1px;
}
 
#menu h2 {
font: bold 12px/19px arial, helvetica, sans-serif;
display: block;
margin: 0px;
padding: 4px 3px;
border-color: #ccc #888 #555 #bbb;
border-style: solid;
border-width: 2px;
} 
 
#menu h2 {
color: #000;

width: 90px;
background: transparent url(imagens/menu.png) right center no-repeat;
border: none;
}
 
#menu h2:hover {
color: #fff;
background: #fff;
background: transparent url(imagens/menu.png) right center no-repeat;
border: none;
}
 
#menu a {
color: #000;
background: #99ccff;
text-decoration: none;
}
 
#menu a:hover {
color: #fff;
background: #6699cc;
}
 
#menu li {position: relative;}
 
#menu ul ul {
position: absolute;
z-index: 500;
}
 
#menu ul ul ul {
position: absolute;
top: 0;
left: 90%;
}
 
div#menu ul ul {
display: none;
}
 
div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}
 
div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}
